*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMON
-----------------*/
body{
    height: 100vh;
}

main{
    width: calc(100% - 300px);
    background-color: #141922;
}

footer{
    height: 80px;
}

.page-container{
    height: calc(100% - 80px);
    background-color: blanchedalmond;
    display: flex;
}

aside{
    width: 300px;
    background-color: black;
}

.upgrade-container{
    height: 90px;
    background-color: rgba(8,11,18, 0.7);
}

