*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMON
-----------------*/
body{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

main{
    width: calc(100% - 300px);
    background-color: #141922;
    overflow-y: auto;
}

footer{
    height: 80px;
}

.page-container{
    height: calc(100% - 80px);
    background-color: blanchedalmond;
    display: flex;
}

aside{
    width: 300px;
    background-color: black;
}

/*--------------------
    HEADER
---------------------*/
.upgrade-container{
    height: 90px;
    background-color: rgba(8,11,18, 0.7);
    position: fixed;
    right: 0px;
    left: 300px;
}

.upgrade-btn{
    width: 220px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

/*--------------------
    MAIN
---------------------*/
.link-ul{
    text-align: center;
    margin-top: 120px;
}

.link-li{
    display: inline-block;
    color: rgb(124,126,131);
    margin-right: 20px;
}

.album-container{
    width: 95%;
    display: flex;
    margin-top: 35px;
    margin-left: 20px;
}

.album-box{
    width: 200px;
    margin-right: 15px;
}

.album-img{
    width: 200px;
    height: 200px;
}

.playlist{
    margin-top: 45px;
}

.playlist-container{
    margin-left: 20px;
    display: flex;
}

.playlist-box{
    margin-right: 15px;
    margin-top: 35px;
}
/*--------------------
    TYPOGRAPHY
---------------------*/
.title-main{
    color: white;
    margin-left: 20px;
}

.album-title{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.subtitle-main{
    color: #7d7f84;
    text-align: center;
    margin-top: 10px;
}

#playlist-subtitle{
    text-align: left;
    margin-left: 20px;
}